
.formulario-login{
    width:40%;
    height:auto;
    margin:0 auto;
    margin-top:5%;
    border:1px solid;
    border-radius:5px;
    box-shadow:1px 2px 2px 2px #888888;
    padding:3%;
    background-color:white;
}
.contenedor{
    text-align: center;
    margin:0 auto;
    margin-top:100px;
    margin-left:650px;
    font-size:35px;
    height:auto;
}

.estilo-empresa{
    background-color: blueviolet;
    padding:20px;
    width:300px;
    height:400px;
    float: left;
    border-radius:5px;
    margin:4px;
    box-shadow:1px 2px 2px 2px #888888;
}
.estilo-empresa:hover{    
    background-color: darkmagenta;
}
.estilo-acuerdo{
    background-color: greenyellow;
    padding:20px;
    width:300px;
    height:400px;
    float: left;
    border-radius:5px;
    margin:4px;
    box-shadow:1px 2px 2px 2px #888888;
}
.estilo-acuerdo:hover{
    background-color: chartreuse;
}

.estilo-alumno{
    background-color: orange;
    padding:20px;
    width:300px;
    height:400px;
    float: left;
    border-radius:5px;
    margin:4px;
    box-shadow:1px 2px 2px 2px #888888;
}
.estilo-alumno:hover{
    background-color: darkorange;
}
.estilo-general{
    padding:20px;
    margin-top:60px;
}

@media only screen and (max-width:800px){
    .formulario-login{
        width:500px;
        margin-top:20%;
        padding:4%;
    }
    .contenedor{
        width: 430px;

    }
    .estilo-empresa{
        width: 200px;
        height: 450px;
        border-radius:5px;
        margin:4px;
    }
    .estilo-alumno{
        width: 200px;
        height: 450px;
        border-radius:5px;
        margin:4px;
    }
    .estilo-acuerdo{
        width: 200px;
        height: 450px;
        border-radius:5px;
        margin:4px;
    }
    img{
        width: 170px;
    }
    .img-iconos {
        width:21px;
        height:21px;
    }

}

@media only screen and (max-width:632px){
    .formulario-login{
        width:250px;
        margin-top:30px;
        padding:5%;
    }
    .contenedor{
        margin-top:60px;
        width: 530px;
        height: 300px;
        margin-left:100px;
    }
    .estilo-empresa{
        width: 200px;
        height: 180px;
        margin: 5px auto;
    }
    .estilo-alumno{
        width: 200px;
        height: 180px;
        margin: 5px auto;
        
    }
    .estilo-acuerdo{
        width: 200px;
        height: 180px;
        margin: 5px auto;
    }
    img{
        width: 170px;
    }
    .img-iconos {
        width:21px;
        height:21px;
    }
}
@media only screen and (max-width:768px){
    .formulario-login{
        width:500px;
        margin-top:20%;
        padding:4%;
        
    }
    .contenedor{
        width: 630px;
        margin-left:170px;

    }
    .estilo-empresa{
        width: 200px;
        height: 380px;
        border-radius:5px;
        margin:4px;
    }
    .estilo-alumno{
        width: 200px;
        height: 380px;
        border-radius:5px;
        margin:4px;
    }
    .estilo-acuerdo{
        width: 200px;
        height: 380px;
        border-radius:5px;
        margin:4px;
    }
    img{
        width: 170px;
    }
    .img-iconos {
        width:21px;
        height:21px;
    }
}

@media only screen and (max-width:414px){
    .formulario-login{
        width:250px;
        margin-top:30px;
        padding:5%;
    }
    .contenedor{
        margin-top:70px;
        margin-left:100px;
        width: 300px;
        height: 300px;
    }
    .estilo-empresa{
        width: 200px;
        height: 180px;
        margin: 5px auto;
    }
    .estilo-alumno{
        width: 200px;
        height: 180px;
        margin: 5px auto;
        
    }
    .estilo-acuerdo{
        width: 200px;
        height: 180px;
        margin: 5px auto;
    }
    img{
        width: 90px;
        height:90px;
    }
    .img-iconos {
        width:21px;
        height:21px;
    }
}

@media only screen and (max-width:375px){
    .formulario-login{
        width:250px;
        margin-top:30%;
        padding:5%;
    }
    .contenedor{
        margin-top:75px;
        margin-left:90px;
        width: 280px;
        height: 300px;
    }
    .estilo-empresa{
        width: 200px;
        height: 180px;
        margin: 5px auto;
    }
    .estilo-alumno{
        width: 200px;
        height: 180px;
        margin: 5px auto;
        
    }
    .estilo-acuerdo{
        width: 200px;
        height: 180px;
        margin: 5px auto;
    }
    img{
        width: 90px;
        height:90px;
    }
    .img-iconos {
        width:16px;
        height:16px;
    }
    td{
        font-size:12px;
    }
    th{
        font-size:12px;
    }
}

@media only screen and (max-width:360px){
    .formulario-login{
        width:250px;
        margin-top:30%;
        padding:5%;
    }
    img{
        width: 90px;
        height:90px;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    text-decoration: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
.contenedor-empresa{
    margin:0 auto;
    margin-top:40px;
    width: 90%;
    height:auto;
    background-color:white;
    border:1px solid;
    border-radius:5px;
    box-shadow:1px 2px 2px 2px #888888;
}
.botones{
    margin:0 auto;
    text-align: center;
    padding:10px;
}
.contenido{
    padding:10px;
}